
*,*::before,*::after{
    box-sizing:border-box;
    font-family: Gotham Rounded, sans-serif;
    font-weight:normal;
}

body{
    /* so background fills entire page*/
    
    background-color: #f6f0c4;
    background-image: linear-gradient(315deg, #f6f0c4 0%, #d99ec9 74%);

}
    
.calculator{
    display:grid;
    justify-content:center;
    align-content:center;
    min-height:100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calculator>button{
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    background-color: black;
    color: white;
}

.calculator>button:hover{
    background-color: rgb(159, 159, 236);
}

/*these buttons take up space of 2 buttons*/
.span-two{
    grid-column: span 2;

}

.screen{
    /*make screen span entire width of calculator*/
    grid-column: 1/-1;
    background-color: black;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    /* if number gets too long it will wrap around display screen*/
    word-wrap: break-word;
    word-wrap:break-all;
    
}

.operator{
    color:pink;
    background-color: pink;
}
